@import url("utility.css");

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #eae6fc11;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding) calc(var(--padding) * 1.5);
  box-shadow: var(--box-shadow);
  background-color: white;
}

nav.navigation {
  display: flex;
  align-items: center;
}

nav.navigation .logo {
  width: 40px;
  height: 40px;
}

nav.navigation ul {
  padding: calc(var(--padding) * 0.5);
}

nav.navigation ul li {
  display: inline-block;
  list-style: none;
  color: var(--light-text-color);
  padding: 0 calc(var(--padding) * 0.5);
}

.profile {
  display: flex;
  justify-content: end;
  align-items: center;
}

.profile > *:last-child {
  margin-left: var(--margin);
}

.profile .avatar {
  width: 40px;
  height: 40px;
  margin-left: calc(var(--margin) * 0.5);
}

main {
  flex: 1 0 auto;
}

footer {
  text-align: center;
  padding: var(--padding);
  color: #6e6d7a77;
  font-size: 0.9rem;
}

