/* https://huemint.com/brand-2/#palette=f8fbfc-003031-634789 */

:root {
    /* Spacing, sizes and curves */
    --padding: 1rem;
    --padding2x: 2rem;

    --margin: 1rem;
    --margin2x: 1rem;

    --radius: 0.5rem;
    --header-height: 70px;

    /* Colors */
    --border-color: #f6f6f6;
    
    --dark-text-color: #003031;
    --light-text-color: #665380;
    
    --color1: #f8fbfc;
    --alternative-color: #5642a4;

    --primary-color: #20009b;
    --primary-accent-color: #eae6fc;
}

@font-face {
    font-family: 'Gothic Font';
    src: url("fonts/Gothic A1/GothicA1-Regular.ttf");
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0 var(--padding2x);
    border-bottom: solid var(--border-color) 3px;
}

main {
    min-height: calc(100vh - (var(--header-height) * 1.5))
}

footer {
    height: calc(var(--header-height) * 0.5);
    text-align: center;
    color: #003031;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > div {
    flex: 1;
}

header > .avatar {
    grid-area: avatar;
}

header > .avatar > img {
    width: 50px;
    height: 50px;
}

header > .title {
    grid-area: title;
}

header > .action-btns {
    grid-area: action-btns;
    display: flex;
    justify-content: end;
    align-items: center;
}


/***** Generics *****/
.avatar {
    border-radius: 100%;
}

.avatar > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title > span:first-child {
    color: var(--dark-text-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.title > span:last-child {
    color: var(--light-text-color);
}

.btn {
    padding: calc(var(--padding) * 0.5) var(--padding2x);
    color: var(--alternative-color);
    border: solid var(--alternative-color) 1px;
    border-radius: var(--radius);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    border-color: #0030316f !important;
}

.btn:active {
    transform: translateY(0.5px);
}

.btn.primary {
    background-color: var(--primary-color);
    color: var(--primary-accent-color);
    border-color: var(--primary-color);
}

.btn.secondary {
    background-color: var(--primary-accent-color);
    border-color: var(--primary-accent-color);
    color: var(--primary-color);
}